---
import { Image } from "astro:assets";
import { getWorks } from "@/lib/get-collection";
import { loadWorkImages } from "@/lib/load-work-images";
import Layout from "@/layouts/layout.astro";
import MoreWorks from "@/components/works/more-works.astro";
import Section from "@/components/ui/section.astro";
import { capitalize } from "@/lib/utils";

export async function getStaticPaths() {
	const works = await getWorks();
	return works.map((work) => ({
		params: { slug: work.slug },
		props: { work },
	}));
}

const { work } = Astro.props;
const { Content } = await work.render();
const images = loadWorkImages(work.slug);
const categoriesAsSentence = work.data.categories.map(capitalize).join(", ");
---

<Layout title={work.data.title}>
	<main class="w-full space-y-12">
		<section class="space-y-6 border-b pb-8 md:pb-12">
			<header>
				<h1 class="text-mega break-words">
					{work.data.title}
				</h1>
			</header>
		</section>
		<section class="grid w-full gap-8 xl:grid-cols-2">
			<header class="grid w-full grid-cols-2 gap-8">
				<Section label="Categories">
					{categoriesAsSentence}
				</Section>
				<Section label="Date">
					{
						work.data.date.toLocaleDateString("en-US", {
							timeZone: "America/Los_Angeles",
							year: "numeric",
							month: "long",
							day: "numeric",
						})
					}
				</Section>
			</header>
			<article
				class="prose [&_p]:text-muted-foreground w-full max-w-screen-lg [&_h1]:mx-0 [&_h1]:max-w-none [&_h2]:mx-0 [&_h2]:max-w-none [&_h3]:mx-0 [&_h3]:max-w-none [&_h4]:mx-0 [&_h4]:max-w-none [&_hr]:mx-0 [&_hr]:max-w-none [&_ol]:mx-0 [&_ol]:max-w-none [&_p]:mx-0 [&_p]:max-w-none [&_ul]:mx-0 [&_ul]:max-w-none"
			>
				<Content />
			</article>
		</section>
		{
			images.length > 0 && (
				<section class="space-y-10 border-b pb-12 md:pb-16">
					<div class="columns-1 gap-4 space-y-4 md:columns-2 lg:columns-3 2xl:columns-4">
						{images.map((img) => (
							<div class="w-full break-inside-avoid overflow-hidden rounded">
								<Image
									src={img}
									alt={work.data.title}
									widths={[400, 800, 1200, 1600, 2400]}
									sizes="(min-width: 768px) 50vw, 100vw"
									class="h-auto w-full"
								/>
							</div>
						))}
					</div>
				</section>
			)
		}
		<section class="space-y-10 pb-12 md:pb-16">
			<MoreWorks currentSlug={work.slug} />
		</section>
	</main>
</Layout>
