---
import { getCollection } from "astro:content";
import Layout from "@/layouts/layout.astro";
import SectionTitle from "@/components/ui/section-title.astro";
import FancyImage from "@/components/fancy-image.astro";
import { loadWorkImages } from "@/lib/load-work-images";
import MoreWorks from "@/components/works/more-works.astro";
import CategoryList from "@/components/works/category-list.astro";

export async function getStaticPaths() {
  const works = await getCollection("works");
  return works.map((work) => ({
    params: { slug: work.slug },
    props: { work },
  }));
}

const { work } = Astro.props;
const { Content } = await work.render();

const images = loadWorkImages(work.slug);
---

<Layout title={work.data.title}>
  <main>
    <article>
      <div class="flex flex-col md:flex-row gap-12 w-full mb-6 md:mb-12">
        <header class="flex flex-col gap-8 md:w-2/3">
          <SectionTitle label="Title">
            <h1 class="text-3xl">{work.data.title}</h1>
          </SectionTitle>
          <SectionTitle label="Categories">
            <CategoryList categories={work.data.categories} class="text-3xl" />
          </SectionTitle>
          <SectionTitle label="Date">
            <span>
              {
                work.data.date.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              }
            </span>
          </SectionTitle>
        </header>
        <div class="md:w-1/2">
          <SectionTitle label="Details">
            <article class="prose">
              <Content />
            </article>
          </SectionTitle>
        </div>
      </div>
      {
        images.length > 0 && (
          <section class="w-full px-4">
            <div class="columns-1 md:columns-2 gap-4 space-y-4">
              {images.map((img) => (
                <div class="break-inside-avoid">
                  <FancyImage
                    src={img}
                    alt={work.data.title}
                    widths={[400, 800, 1200, 1600, 2400]}
                    sizes="100vw, 50vw"
                  />
                </div>
              ))}
            </div>
          </section>
        )
      }
    </article>
    <MoreWorks currentSlug={work.slug} />
  </main>
</Layout>
