---
import type { CollectionEntry } from "astro:content";
import CategoryList from "@/components/ui/category-list.astro";
import { loadFirstWorkImage, loadWorkHeroImage } from "@/lib/load-work-images";
import WorkHeroImage from "./work-hero-image.astro";

interface Props {
	work: CollectionEntry<"works">;
	index?: number;
}

const { work, index } = Astro.props;

const firstImage = loadFirstWorkImage(work.slug);
const heroImage = loadWorkHeroImage(work.slug);
const image = heroImage || firstImage;
---

<a href={`/works/${work.slug}`} class="group block space-y-4">
	<div class="border-t pt-4">
		<div>
			{work.data.title}
		</div>
		<div class="inline-flex w-full flex-row gap-4 text-sm">
			<time datetime={work.data.date.toISOString()} class="font-accent text-sm whitespace-nowrap">
				{
					work.data.date.toLocaleDateString("en-US", {
						year: "numeric",
					})
				}
			</time>
			<div class="flex-1">
				<CategoryList
					categories={work.data.categories}
					basePath="/works"
					class="text-muted-foreground font-accent text-sm"
					asLinks={false}
				/>
			</div>
			<div class="text-muted-foreground font-accent">{index}</div>
		</div>
	</div>
	{image && <WorkHeroImage imageProps={image} alt={work.data.title} />}
</a>
