---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import CategoryList from "@/components/ui/category-list.astro";
import { loadFirstWorkImage, loadWorkHeroImage } from "@/lib/load-work-images";

interface Props {
  work: CollectionEntry<"works">;
}

const { work } = Astro.props;

const firstImage = loadFirstWorkImage(work.slug);
const heroImage = loadWorkHeroImage(work.slug);
const image = heroImage || firstImage;
---

<div class="flex flex-col gap-4 group">
  <a href={`/works/${work.slug}`}>
    {
      image && (
        <div class="relative aspect-[4/3] w-full overflow-hidden rounded-xl bg-secondary transition-transform duration-300 group-hover:-translate-y-1.5">
          <Image
            src={image}
            alt={work.data.title}
            loading="lazy"
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
      )
    }
    <div class="flex flex-col">
      <h1 class="text-2xl tracking-tight -mb-1">
        {work.data.title}
      </h1>
      <CategoryList
        categories={work.data.categories}
        basePath="/works"
        class="text-sm text-muted-foreground font-accent"
        asLinks={true}
      />
    </div>
  </a>
</div>
