---
import Layout from "@/layouts/layout.astro";
import { capitalize } from "@/lib/utils";
import CategorySelector from "@/components/ui/category-selector.astro";
import { cva } from "class-variance-authority";
import type { CategoryCollectionType } from "@/content/categories";
import CategoryTag from "@/components/ui/category-tag.astro";

interface Props {
	type: CategoryCollectionType;
	category?: string;
	selector?: boolean;
	size?: "default" | "lg";
	tag?: boolean;
}

const { type, category, selector = false, size = "default", tag = false } = Astro.props;

const displayTitle = category ? `${capitalize(category)} - ${capitalize(type)}` : capitalize(type);

const containerVariants = cva("", {
	variants: {
		size: {
			default: "max-w-screen-2xl",
			lg: "",
		},
	},
	defaultVariants: {
		size: "default",
	},
});
---

<Layout title={displayTitle} size={size}>
	<div class={containerVariants({ size })}>
		<div class="mb-8 space-y-6 pb-6 md:mb-16 md:pb-0">
			{selector && <CategorySelector type={type} />}
			{tag && category && <CategoryTag type={type} category={category} />}
		</div>
		<slot />
	</div>
</Layout>
