---
import Layout from "@/layouts/layout.astro";
import PrevNext from "@/components/prev-next.astro";
import WritingSummary from "@/components/writing/writing-summary.astro";
import WritingFooter from "@/components/writing/writing-footer.astro";
import { getWritings, getPrevNext } from "@/lib/utils";

export async function getStaticPaths() {
  const writings = await getWritings();
  return writings.map((writing) => ({
    params: { slug: writing.slug },
    props: { writing },
  }));
}

const { writing } = Astro.props;
const { Content } = await writing.render();

const writings = await getWritings();
const { prevEntry, nextEntry } = getPrevNext(writings, writing.slug);
---

<Layout title={writing.data.title}>
  <div class="flex-1 flex flex-col h-full gap-16 md:gap-32">
    <article class="flex-1 flex flex-col w-full max-w-screen-sm mx-auto">
      <header class="flex flex-col my-12 gap-2">
        <h1 class="text-3xl">{writing.data.title}</h1>
        <WritingSummary writing={writing} />
      </header>
      <div class="prose flex-1">
        <Content />
      </div>
      <div class="border-t border-dashed my-12"></div>
      <WritingFooter />
    </article>
    {
      (prevEntry || nextEntry) && (
        <PrevNext
          prev={
            prevEntry
              ? {
                  label: prevEntry.title,
                  href: `/writing/${prevEntry.slug}`,
                }
              : undefined
          }
          next={
            nextEntry
              ? {
                  label: nextEntry.title,
                  href: `/writing/${nextEntry.slug}`,
                }
              : undefined
          }
        />
      )
    }
  </div>
</Layout>
