---
import { getCollection } from "astro:content";
import Layout from "@/layouts/layout.astro";
import PrevNext from "@/components/prev-next.astro";
import WritingSummary from "@/components/writing/writing-summary.astro";
import WritingFooter from "@/components/writing/writing-footer.astro";

export async function getStaticPaths() {
  const writings = await getCollection("writing");
  const sortedWritings = writings.sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
  );

  return sortedWritings.map((writing, index) => {
    const newerWriting = sortedWritings[index - 1];
    const olderWriting = sortedWritings[index + 1];

    return {
      params: { slug: writing.slug },
      props: {
        writing,
        newerWriting: newerWriting
          ? {
              slug: newerWriting.slug,
              title: newerWriting.data.title,
            }
          : null,
        olderWriting: olderWriting
          ? {
              slug: olderWriting.slug,
              title: olderWriting.data.title,
            }
          : null,
      },
    };
  });
}

const { writing, newerWriting, olderWriting } = Astro.props;
const { Content } = await writing.render();
---

<Layout title={writing.data.title}>
  <div class="flex-1 flex flex-col h-full gap-32">
    <article class="flex-1 flex flex-col w-full max-w-screen-sm mx-auto">
      <header class="flex flex-col my-12 gap-2">
        <h1 class="text-3xl">{writing.data.title}</h1>
        <WritingSummary writing={writing} />
      </header>
      <div class="prose flex-1">
        <Content />
      </div>
      <div class="border-t border-dashed my-12"></div>
      <WritingFooter />
    </article>
    {
      (newerWriting || olderWriting) && (
        <PrevNext
          left={
            newerWriting
              ? {
                  label: newerWriting.title,
                  href: `/writing/${newerWriting.slug}`,
                }
              : undefined
          }
          right={
            olderWriting
              ? {
                  label: olderWriting.title,
                  href: `/writing/${olderWriting.slug}`,
                }
              : undefined
          }
        />
      )
    }
  </div>
</Layout>
